table(style='width:100%').c-table-user
  caption.c-table-user__caption Users
  tr.c-table-user__head
    th.c-table-user__first
      include Custom-checkbox
        span Email
        i.fa.fa-cog(aria-hidden='true') 
    th
      
        span Customer Name
        i.fa.fa-cog(aria-hidden='true') 
    th Default Source
    th Created
  tr.c-table-user__body
    td.second
      include Custom-checkbox
        span id
    td mira.mango@gmail.com
    td •••• 5556
    td Jun 14, 12:33 PM
  tr.c-table-user__body
    td.second
      include Custom-checkbox
        span id
    td mira.mango@gmail.com
    td •••• 5556
    td dd
  tr.c-table-user__body
    td.second
      include Custom-checkbox
        span id
    td mira.mango@gmail.com
    td •••• 5556
    td Jun 14, 12:33 PM
  tr.c-table-user__body
    td.first
      include Custom-checkbox
        span id
    td mira.mango@gmail.com
    td •••• 5556
    td dd


