
body
    div.c-sidenavbar1
      div.c-sidenavbar1__Logo
         img(src="../../images/D.png") 
      div.c-sidenavbar1__list 
        div.c-sidenavbar1__first
          i.bx.bx-bar-chart
        div.c-sidenavbar1__second  
          i.bx.bx-bar-chart
        div.c-sidenavbar1__thired 
          i.bx.bx-bar-chart
        div.c-sidenavbar1__fourth
          i.bx.bx-bar-chart
        div.c-sidenavbar1__fifth
          i.bx.bx-bar-chart
      div