div.c-dasboard-deadline
   div.c-dasboard-deadline__paragraph Deadline 12:00
   div.c-dasboard-deadline__heading Exam - Unit 5
   div.c-dasboard-deadline__paragraph Spanish for beginners
   div.c-dasboard-deadline__images
      img(src="../../images/c1.png")
      img(src="../../images/c2.png")
      img(src="../../images/c3.png")
      
   