
div.c-table
  div.c-table__head-row
    div.c-table__checkbox
      include Custom-checkbox
    div.c-table__customerName Customer
    div.c-table__stauts Status
    div.c-table__priority Priority
    div.c-table__assignee Assignee
    div.c-table__action Action
  include 3-dashboard-table-body
  +3-dashboard-table-body("hello","hello","hello","../../images/c4.png","../../images/c4.png","purple")
  +3-dashboard-table-body("hello","hello","hello","../../images/c4.png","../../images/c4.png","blue")
  +3-dashboard-table-body("hello","hello","hello","../../images/c4.png","../../images/c4.png","orange")
  +3-dashboard-table-body("hello","hello","hello","../../images/c4.png","../../images/c4.png","green")
  
  






