div.c4-sidenavbar
  div.c4-sidenavbar__logo-content
    div.c4-sidenavbar__logo
      img(src="../../images/D.png")
      div.c4-sidenavbar__logo-name Delx
    //- div.c4-sidenavbar__box
    //-   img(src="../../images/c1.png")
  ul.c4-sidenavbar__nav-list 
   li
    a
      i.bx.bxs-dashboard
      span.c4-sidenavbar__nav-list-name  Dashboard
   li
    a
      i.bx.bx-bookmark-alt-minus
      span.c4-sidenavbar__nav-list-name  Overwive
   li
    a
      i.bx.bx-chat
      span.c4-sidenavbar__nav-list-name  Chat
   li
    a
      i.bx.bx-library
      span.c4-sidenavbar__nav-list-name  Team
   li
    a
      
      span.c4-sidenavbar__nav-list-name  Task
   li
    a
      i.bx.bx-task
      span.c4-sidenavbar__nav-list-name  Task
   li
    a
      i.bx.bxs-report
      span.c4-sidenavbar__nav-list-name  Report
   li
    a
      i.bx.bxs-badge-dollar
      span.c4-sidenavbar__nav-list-name  Setting
    
  div.c4-sidenavbar__profile-content
     div.c4-sidenavbar__drive
       div.c4-sidenavbar__drive-list
        div.c4-sidenavbar__drive-storage Storage
        div.c4-sidenavbar__drive-storage 1111.50
        progress
       div.c4-sidenavbar__driv  upgrade
       
        
     div.c4-sidenavbar__profile
        div.c4-sidenavbar__profile-details
          img(src="../../images/c1.png")
          div.c4-sidenavbar__profile-job
             div.c4-sidenavbar__profile-name Jane Smith
          i.bx.bx-chevron-left
          i.bx.bx-chevron-right
        