div.c-calender
  div.c-calender__opertion-head 
    div.c-calender__month-year October, 2020
    div.c-calender__icons
      i.bx.bx-left-arrow-alt
      i.bx.bx-right-arrow-alt
  div.c-calender__days
    li  mo
    li  tu
    li  we
    li  th
    li  fr
    li  sa
    li  su
  div.c-calender__date
    li  1
    li  2
    li  3
    li  4
    li  5
    li  6
    li  7
  div.c-calender__date
    li.active 8
    li  9
    li  10
    li  11
    li  12
    li  13
    li  14
  div.c-calender__date
    li  15
    li  16
    li  17
    li  18
    li  19
    li  20
    li  21
  div.c-calender__date
    li  22
    li  23
    li  24
    li  25
    li  26
    li  27
    li  28