header.c-navbar


    div.c-navbar__logo
      a.c-navbar__img  Delx
    div.c-navbar__menu
      li
        a(href='#').c-navbar__analytics 
          i.fa.fa-bar-chart(aria-hidden='true')
          span Analytics


      li 
        a(href='#').c-navbar__products 
          i.fa.fa-shopping-bag(aria-hidden='true') 
          span Products
      li 
        a(href='#').c-navbar__customer 
          i.fa.fa-user(aria-hidden='true').hello 
          span Customer

      li 
        a(href='#').c-navbar__campaign
          i.fa.fa-volume-up(aria-hidden='true') 
          span Campaigns
      li 
        a(href='#').c-navbar__setting 
          i.fa.fa-cog(aria-hidden='true') 
          span Setting
    div.c-navbar__icon
      a(href='#').c-navbar__setting 
        i.fa.fa-bell(aria-hidden='true') 
      div.c-navbar__user-img 
        img(src='../../images/jayesh.jpg')
