doctype html 
html 
    head
      link(rel='stylesheet', href='../../css/main.css')
    body
        div.card
           img(src='../../images/img (1).png').img
           div.list
            div.name
                div.first  hello
                div.second  heyy
            div.button  why 

