doctype html
html
    head 
      link(rel='stylesheet', href='../../css/main.css')
    body 
        div.c-main-panel 
            div.c-main-panel__logo LOGO
            div.c-main-panel__box
                div.c-main-panel__head
                   h1 Login
                   p Don't have an account yet? Create an account
                p.c-main-panel__google-signup Sign up with Google
                h6 
                  span or

                form
                   include label
                   include Custom-Input
                   +Custom-Input("text","names","Email","c-input" ,"full-width")
                   include label
                   +Custom-Input("text","names","Email","c-input" ,"full-width")
                   include Custom-checkbox
                   button.c-button.full-width  Submit
            
            