.c-dasboard-deadline{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    min-height: 186px;
    background-color: blue;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    position:relative;
    // color: white;
    padding: 20px 20px;

    &__heading{
        font-size: 20px;
        color: white;
    }
    &__images{
        position: absolute;
        bottom: 0px;
        margin-bottom: 20px;
    }
}