.c-work-summry {
    border: 1px solid;
    border: 1px solid #E6E7E9;
    border-radius: 8px;
    min-width: 750px;
    min-height: 300px;
    max-width: 750px;
    max-height: 335px;
    padding: 20px 20px;
    
    &__header{
        display: flex;
        justify-content: space-between;
       
    }
    &__dates{
        display: flex;
    }
    &__last{
        margin-right: 27px;
    }


    &__sub-header{
        display: flex;
        justify-content: space-between
    }
    &__amount{
        margin-right: 34px; 
    }
}