// ----------------------------------------------
// Theme Banner Style
// ----------------------------------------------


.c-banner {
    padding: 57px 60px;
    background-image: url('../images/dashboard-banner.png');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% 20%;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color:palette(blue, base);

    h1 {
        color: palette(mono, white);
        margin-bottom: 10px;
    }

    p {
        color: palette(mono, white);
        margin-bottom: 0;
        font-size: 19px;
    }
}