// ----------------------------------------------
// USER
// ----------------------------------------------

.c-user {

    &__image {
        border-radius: 6px;
        width: 40px;
        height: 40px;
    }
}